<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.user.CreateMapper">

    <select id="findTempProjectByPid">
        select * from item_details_temp where pid=#{pid}
    </select>

    <update id="updateTempProject">
        update item_details_temp set community_id=#{community_id},
                                     community_name=#{community_name},
                                     type_id=#{type_id},
                                     type_name=#{type_name},
                                     title=#{title},
                                     simple_text=#{simple_text},
                                     content=#{content},
                                     cover_img=#{cover_img},
                                     tag=#{tag},
                                     create_time=#{create_time}
        where pid=#{pid}
    </update>

</mapper>