<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.UserMapper">

    <select id="findByName" resultType="User">
        select * from users where username=#{username} or phone=#{username} or email=#{username}
    </select>  <!--根据username查找-->

    <select id="findByUid" resultType="User">
        select * from users where uid=#{uid}
    </select>

    <select id="findUserInfo" resultType="User">
        select * from users where uid=#{uid}
    </select>  <!--获取登录用户信息-->

    <update id="syncUserInfo">
        update users set email=#{email},phone=#{phone},sex=#{sex},sourceFrom=#{sourceFrom},location=#{location},level=#{level},exp_point=#{exp_point}
        where uid=#{uid}
    </update>

    <select id="findByUnameAndPwd" parameterType="java.lang.String" resultType="User">
        select * from users where username=#{username} and password=#{password}
    </select>  <!--验证账号和密码-->

    <insert id="registerByEmail" parameterType="User" >
        insert into users
        values (#{uid},default,#{username},#{password},#{email},#{phone},#{uname},#{sex},'images/default_user_img.jpg',#{sign_time},0,'',1,#{location},1,0,0,0,0);
    </insert>  <!--邮箱注册-->

    <insert id="registerByPhone" parameterType="User" >
        insert into users
        values (#{uid},default,#{username},#{password},#{email},#{phone},#{uname},#{sex},'images/default_user_img.jpg',#{sign_time},0,'',1,#{location},1,0,0,0,0);
    </insert>  <!--手机号注册-->

    <insert id="createUser">
        insert into user_role
        values (#{uid},1,'用户')
    </insert>

</mapper>