<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.IndexMapper">

    <select id="getHeaderItem" resultType="HeaderItem">
        select * from headeritem
    </select>

    <select id="getTypeList" resultType="All_Type">
        select * from all_type
    </select>

    <select id="getHotTag">
        select * from hottag
        order by use_times desc
        OFFSET ${pageNumber} ROW
        FETCH NEXT 10 ROWS ONLY
    </select>

    <select id="getHotTagByKeywords">
        select * from hottag
                 where tag like '%'+#{keywords}+'%'
        order by use_times desc
        OFFSET ${pageNumber} ROW
        FETCH NEXT 10 ROWS ONLY
    </select>

    <select id="getLeftNavbar" resultType="Left_NavbarItem">
        select * from left_navbar_item
    </select>

    <select id="findUserItem" resultType="UserItem">
        select * from user_item
    </select>  <!--用户列表项-->

    <select id="findCreateLeftItem" resultType="CreateLeftItem">
        select * from create_item
    </select>

    <select id="findIndexByType_id" parameterType="int" resultType= "Item_Details">
        select uid,uname,pid,type_id,type_name,detail_type,title,simple_text,content,cover_img,href,tag,create_time,read_times,like_times,comments_times,favorites
        from item_details
        where isDeleted=0 and isTakeoff=0 and type_id=${type_id} and detail_type=#{articleType}
        order by favorites desc
        OFFSET 0 ROW
        FETCH NEXT 18 ROWS ONLY
    </select>

    <select id="findIndexByRandom">
        select uid,uname,pid,type_id,type_name,detail_type,title,simple_text,content,cover_img,href,tag,create_time,read_times,like_times,comments_times,favorites
        from item_details
        where isDeleted=0 and isTakeoff=0 and detail_type=#{articleType}
        order by create_time desc
        OFFSET ${pageNum} ROW
        FETCH NEXT 24 ROWS ONLY
    </select>

    <select id="findIndexByPercent" resultType="Item_Details">
        select uid,uname,pid,type_id,type_name,detail_type,title,simple_text,content,cover_img,href,tag,create_time,read_times,like_times,comments_times,favorites
        from item_details
        where isDeleted=0 and isTakeoff=0 and type_id=#{type_id} and detail_type=#{articleType}
        order by create_time desc
        OFFSET 0 ROW
        FETCH NEXT ${number}+1 ROWS ONLY
    </select>

    <select id="getUserPersonalize">
        select * from user_personalize where uid=#{uid}
    </select>

    <select id="searchByText">
        select distinct title from item_details where title like '%'+#{text}+'%' and isDeleted=0 and isTakeoff=0
    </select>

    <select id="getSearchDetailsByKeywords" >
        select * from item_details
        where title like '%'+#{keywords}+'%' and isDeleted=0 and isTakeoff=0 and detail_type=#{articleType}
        order by read_times
        OFFSET ${pageNum} ROW
        FETCH NEXT 24 ROWS ONLY
    </select>

    <select id="getAnnounce">
        select * from item_details
        where community_id=#{community_id} and (create_time >= #{query_date} and create_time &lt;=GETDATE())
        order by create_time desc
        OFFSET 0 ROW
        FETCH NEXT 5 ROWS ONLY
    </select>


    <select id="getHotCommunityBySort">
        select community_name from community
        order by ${sort_type} desc
        OFFSET 0 ROW
        FETCH NEXT 6 ROWS ONLY
    </select>



</mapper>